* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #191b1f;
}

/* general utility classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --general utility classes-- */


/* fonts */
@font-face {
  font-family: 'main';
  src: url('/src/assets/fonts/WinkyRough-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'main';
  src: url('/src/assets/fonts/WinkyRough-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'main';
  src: url('/src/assets/fonts/WinkyRough-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'main';
  src: url('/src/assets/fonts/WinkyRough-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'main';
  src: url('/src/assets/fonts/WinkyRough-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* --fonts-- */